var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comemnts').prepend(new_comment);
$('#comemnt_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();